# Node modules
client/node_modules/
server/node_modules/
socket/node_modules/

# Environment files
client/.env
server/.env
socket/.env

# Logs
*.log

# Build output
client/build/
server/dist/

# IDE/editor files
.vscode/
.DS_Store

